/*  style.css */
/*  MEOWSPACE */


/* Semantic Tags */
header {
  background-color: red;
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  z-index: 50;
}

section {
  margin-top: 50px;
}

main {
  background-color: green;
}

article {
  background-color: cyan;
}

nav {
  background-color: mediumblue;
  display: inline-block;
  width: 25%;
  height: 100%;
  position: absolute;
  right: 0;
}

aside {
  background-color: gold;
  display: inline-block;
  vertical-align: top;
  width: 10%;
  position: absolute;;
  left: 12.5%;
  /*transform: translateX(-500%);*/
  padding-top: 5%;
  margin-top: 2%;
  padding-bottom: 5%;
  /*z-index: 50;*/
}

aside img {
  max-width: 75%;
  margin: 10%;
}

footer {
  background-color: red;
  display: inline-block;
  width: 100%;
  height: 50px;
  position: relative;
  bottom: 0;
}

footer p {
  font-size: .5em;
  display: inline-block;
  width: 50%;
}

section p {
  background-color: cyan;
  text-align: center;
  line-height: 200%;
}

/* ---- Horizontal navigation bar ---- */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*height: 100%;*/
}

li {
    float: right;
}

li a {
    display: block;
    padding: 15px;
    text-align: center;
    color: white;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
/* ---- Horizontal navigation bar ---- */

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

h1, h4 {
  display: inline-block;
  width: 20%;
}

h2, h3 {
  text-align: center;
}


/* Class Tags */

.post-content {
  background-color: purple;
  display: inline-block;
  width: 60%;
  position: relative;
  left: 20%;
  margin: 2%;
  padding: 0;
}

.post-content img {
  width: 30%;
  vertical-align: middle;
  padding-left: 2%
}

.post-content img:first-of-type {
  width: 96%;
  padding-top: 2%
}
